body {
  background-image: url("../assets/index.png");
  background-size: cover;
}

.Menu {
  display: flex;
  width: 100%;
  color: rgb(47, 110, 173);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  z-index: 100;

}

.Menu:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.MenuItem {
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border: solid rgb(47, 110, 173) 1px;
  border-radius: 10px;
  text-decoration: none;
}

.MenuItem:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.MenuItem:active {
  background-color: rgba(47, 110, 173, 0.7);
}

.AppCV {
  display: grid;
  grid-template-columns: minmax(110px, 310px) auto;
  grid-template-rows: 50px 4fr 6fr auto auto;
  grid-template-areas:
  "menu menu" 
  "title title"
  "identity identity"
  "skills experience"
  "skills training";
  font-size: 20px;
  
} 

.title {
  grid-area: title;
  font-size: 30px;
  text-align: center ;
  color: rgb(47, 110, 173);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.identity {
  grid-area: identity;
  padding: 10px;
}

.skills {
  grid-area: skills;
  background-color: rgba(130, 178, 215, 0.3);
  border-top-right-radius: 50px;  
  color: white;
}

.experience {
  grid-area: experience;
  padding-left: 5px;
}

.training {
  grid-area: training;
  padding-left: 5px;
}

.name {
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
}

.tooltip {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-row-gap: 20px;
  text-align:left;
  margin-left: -30px;
  justify-content: center;
  align-content: center;
}

.subTitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-top: 10px;
  text-align: center;
}

.icon {
  color: rgb(130, 178, 215);
}

.idText {
  display: flex;
  align-items: center;
}

.idItem {
  margin: 0 5px;
}

.cardsList {
  display: flex;
  flex-direction: column;
  max-width: 900px ;
  margin-left: -15px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

.cardDesc {
  text-align: center;  
  border-end-end-radius: 50px;
  border-end-start-radius: 50px;;
  padding: 15px;
  padding-top: 30px;
  margin-bottom: 15px;
}

.cardColor {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  margin-bottom: 15px;
  padding: 15px;
}

.cardItem {
  flex: 1 1 auto;
  text-align: center;
  margin: 0 5px;
}

.cardItemShort {
  flex: 0 1 50px;
  margin: 0 5px;
}

.cardItemFixed {
  flex: 0 1 30px;
  text-align: center;
  margin: 0 5px;
}

.cardItemYear {
  flex: 0 1 30px;
  text-align: center;
  margin: 0 5px;
}

.lookDesc {
  flex: 0 1 50px;
  margin: 0 5px;
}

.lookDesc:hover {
  cursor: pointer;
}

.lookDesc:active {
  color: white;
}

.language {
  margin-bottom: 5px;
}

.Toggle {
 display: flex;
 border: solid 3px #2196F3;
 width: 200px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: lighter;
 font-size: medium;
}

.ToggleActive {
  flex: 1;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

.ToggleUnactive {
  flex: 1;
  background-color: white;
  color: #2196F3;
}




@media screen and (min-width: 1250px) {
  .AppCV {
    grid-template-columns: minmax(310px, 323px) auto;
  }
  .experience {
    margin-left: 5%;
  }
  .training {
    margin-left: 5%;
  }
  .identity {
    margin-left: 2%;
  }
  .skills {
    padding-left: 4%;
  }
}

@media screen and (max-width: 770px ) {
  .AppCV {
    font-size: medium;
    grid-template-rows: 4fr 4fr auto auto;
  }
  .subTitle {
    font-size: large;
  }
  .cardsList {
    margin-left: -45px
  }
  .cardItem {
    margin-right: 0px;
  }
  .cardItemShort {
    flex: 0 1 30px;
    margin-right: 0px;
  }
  .cardItemFixed {
    flex: 0 1 20px;
    margin-right: -5px;
    margin-left: 0px;
  }
  .cardItemYear {
    flex: 0 1 20px;
    margin-right: -5px;
    margin-left: 3px;
  }
  .cardColor {
    padding-left: 3px;
    padding-right: 0px;
  }
  .lookDesc {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px ) {
  .AppCV {
    font-size: x-small;
    grid-template-rows: 2fr 5fr auto auto;
  }
  .title {
    font-size: medium;
  }
  .subTitle {
    font-size: small;
  }
  .cardsList {
    margin-left: -45px
  }
  .cardItem {
    margin-right: 0px;
  }
  .cardItemShort {
    flex: 0 1 30px;
    margin-right: 0px;
  }
  .cardItemFixed {
    flex: 0 1 20px;
    margin-right: -5px;
    margin-left: 0px;
  }
  .cardItemYear {
    flex: 0 1 20px;
    margin-right: -5px;
    margin-left: 3px;
  }
  .cardColor {
    padding-left: 3px;
    padding-right: 0px;;
  }
  .lookDesc {
    font-size: 15px;
  }
  .softList {
    margin-left: -10px;
  }
  .Toggle {
    display: flex;
    border: solid 3px #2196F3;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: small;
   }
}
