.ContactApp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ContactTitle {
    margin-top: 0;
    margin-bottom: 10%;
    padding-top : 150px;
    font-size: 30px;
    text-align: center;
    padding-left: 10%;
    width: 80%;
    color: rgb(47, 110, 173);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-row {
      display: flex;
      width: 80%;
  }

 .form-group {
    width: 80%;
}

.OtherContacts {
    margin-top: 8%;
    font-size: 20px;
    color: rgb(31, 89, 147);
}

.LinkLab {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.LinkLabItem {
    margin-right: 30px;
}

.LinkLabItem:hover {
    cursor: pointer;
}